@import './mixins/mixins.scss';

@include b(radio){
    margin-right: 30px;
    color: #606266;
    font-weight: 500;
    line-height: 1;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    font-size: 14px;
    @include m(medium){
        padding: 10px 20px 0 10px;
        border-radius: 4px;
        height: 36px;
    }
    @include m(small){
        padding: 8px 15px 0 10px;
        border-radius: 3px;
        height: 32px;
    }
    @include m(mini){
        padding: 6px 15px 0 10px;
        border-radius: 3px;
        height: 28px;
    }
    @include e(input){
        color: green;
        @include when(checked){
            .el-radio__inner{
                background-color: #409eff;
                border-color: #409eff;
                &::after{
                    content: "";
                    width: 4px;
                    height: 4px;
                    background-color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform:  translate(-2px, -2px)  scale(1);
                    border-radius: 100%;
                }
            }
        }
    }
    @include e(inner){
        width: 14px;
        height: 14px;
        border-radius: 100%;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        box-sizing: border-box;
        border: 1px solid #dcdfe6;
        &:hover{
            border-color: #409eff;
        }
        &::after{
            content: "";
            width: 0px;
            height: 0px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform:  translate(-50%, -50%);
            border-radius: 100%;
            transition: all 0.15s ease-in;
        }
    }
    
    @include e(original){
        display: none;
    }
    @include e(label){
        font-size: 14px;
        font-weight: 500;
        padding-left: 10px;
    
    }
    @include when(checked){
        color: #409eff;
    }
    @include when(disabled){
        color: #c0c4cc;
        cursor: not-allowed;
        .el-radio__inner{
            background-color: #f5f7fa;
            border-color: #e4e7ed;
            &::after{
                background-color: #c0c4cc;
            }
           
        }
    }
    @include when(bordered){
        border: 1px solid #dcdfe6;
        box-sizing: border-box;
        height: 40px;
        display: inline-block;
        padding: 12px 20px 0 10px;
        border-radius: 4px;
    }
}