@import './mixins/mixins.scss';

@include b(radio-button){
    display: inline-block;
    &:first-child{
        .el-radio-button__inner{
            border-left: 1px solid #dcdfe6;
            border-radius: 4px 0 0 4px;
        }
    }
    &:last-child{
        .el-radio-button__inner{
            border-radius: 0 4px 4px 0;
        }
    }
     @include m(medium){
        .el-radio-button__inner{
        padding: 10px 20px;
        font-size: 14px;
        }
    }
    @include m(small){
        .el-radio-button__inner{
        padding: 9px 15px;
        font-size: 12px;
        }
    }
    @include m(mini){
        .el-radio-button__inner{
            padding: 7px 15px;
            font-size: 12px;
        }
       
    }
    @include e(orig-radio){
        display: none;
        &:checked+.el-radio-button__inner{
            color: #fff;
            background-color: #409eff;
            border-color: #409eff;
            box-shadow: -1px 0 0 0 #409eff;
        }
        &:disabled{
            &+.el-radio-button__inner{
                color: #c0c4cc;
                cursor: not-allowed;
                background-image: none;
                background-color: #fff;
                border-color: #ebeef5;
                box-shadow: none;
            }
            &:checked + .el-radio-button__inner{
                background-color: #f2f6fc;
            }
            
        }
    }
    @include e(inner){
        display: inline-block;
        line-height: 1;
        white-space: nowrap;
        vertical-align: middle;
        background: #fff;
        border: 1px solid #dcdfe6;
        font-weight: 500;
        border-left: 0;
        color: #606266;
        -webkit-appearance: none;
        text-align: center;
        box-sizing: border-box;
        margin: 0;
        cursor: pointer;
        transition: all .3s cubic-bezier(.645,.045,.355,1);
        padding: 12px 20px;
        font-size: 14px;
    }
}